*, ::after, ::before {box-sizing: border-box;}
html {font-family: sans-serif;line-height: 1.15;-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: transparent;}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {display: block;}
body {margin: 0;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-size: 1rem;font-weight: 400;line-height: 1.5;color: #212529;text-align: left;background-color: #fff;}
[tabindex="-1"]:focus:not(:focus-visible) {outline: 0 !important;}
hr {box-sizing: content-box;height: 0;overflow: visible;}
h1, h2, h3, h4, h5, h6 {margin-top: 0;margin-bottom: .5rem;}
p {margin-top: 0;margin-bottom: 1rem;}
abbr[data-original-title], abbr[title] {text-decoration: underline;text-decoration: underline dotted;-webkit-text-decoration: underline dotted;cursor: help;border-bottom: 0;-webkit-text-decoration-skip-ink: none;text-decoration-skip-ink: none;}
address {margin-bottom: 1rem;font-style: normal;line-height: inherit;}
dl, ol, ul {margin-top: 0;margin-bottom: 1rem;}
ol ol, ol ul, ul ol, ul ul {margin-bottom: 0;}
dt {font-weight: 700;}
dd {margin-bottom: .5rem;margin-left: 0;}
blockquote {margin: 0 0 1rem;}
b, strong {font-weight: bolder;}
small {font-size: 80%;}
sub, sup {position: relative;font-size: 75%;line-height: 0;vertical-align: baseline;}
sub {bottom: -.25em;}
sup {top: -.5em;}
code, kbd, pre, samp {font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;font-size: 1em;}
pre {margin-top: 0;margin-bottom: 1rem;overflow: auto;-ms-overflow-style: scrollbar;}
figure {margin: 0 0 1rem;}
img {vertical-align: middle;border-style: none;}
svg {overflow: hidden;vertical-align: middle;}
table {border-collapse: collapse;}
caption {padding-top: .75rem;padding-bottom: .75rem;color: #6c757d;text-align: left;caption-side: bottom;}
th {text-align: inherit;}
label {display: inline-block;margin-bottom: .5rem;}
button {border-radius: 0;}
button:focus {outline: 1px dotted;outline: 5px auto -webkit-focus-ring-color;}
button, input, optgroup, select, textarea {margin: 0;font-family: inherit;font-size: inherit;line-height: inherit;}
button, input {overflow: visible;}
button, select {text-transform: none;}
[role=button] {cursor: pointer;}
select {word-wrap: normal;}
[type=button], [type=reset], [type=submit], button {-webkit-appearance: button;}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {cursor: pointer;}
[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {padding: 0;border-style: none;}
input[type=checkbox], input[type=radio] {box-sizing: border-box;padding: 0;}
textarea {overflow: auto;resize: vertical;}
fieldset {min-width: 0;padding: 0;margin: 0;border: 0;}
legend {display: block;width: 100%;max-width: 100%;padding: 0;margin-bottom: .5rem;font-size: 1.5rem;line-height: inherit;color: inherit;white-space: normal;}
progress {vertical-align: baseline;}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {height: auto;}
[type=search] {outline-offset: -2px;-webkit-appearance: none;}
[type=search]::-webkit-search-decoration {-webkit-appearance: none;}
::-webkit-file-upload-button {font: inherit;-webkit-appearance: button;}
output {display: inline-block;}
summary {display: list-item;cursor: pointer;}
template {display: none;}
[hidden] {display: none !important;}
code {font-size: 87.5%;color: #e83e8c;word-wrap: break-word;}
a>code {color: inherit;}
kbd {padding: .2rem .4rem;font-size: 87.5%;color: #fff;background-color: #212529;border-radius: .2rem;}
kbd kbd {padding: 0;font-size: 100%;font-weight: 700;}
pre {display: block;font-size: 87.5%;color: #212529;}
pre code {font-size: inherit;color: inherit;word-break: normal;}
.jlc-container {width: 100%;padding-right: 20px;padding-left: 20px;margin-right: auto;margin-left: auto;}
@media (min-width: 576px) {.jlc-container {max-width: 540px;}}
@media (min-width: 768px) {.jlc-container {max-width: 720px;}}
@media (min-width: 992px) {.jlc-container {max-width: 960px;}}
@media (min-width: 1200px) {.jlc-container {max-width: 1140px;}}
@media (min-width: 1400px) {.jlc-container {max-width: 1320px;}}
.jlc-row {display: flex;flex-wrap: wrap;margin-top: 0px;margin-right: -20px;margin-left: -20px;}
.jlc-row > * {box-sizing: border-box;flex-shrink: 0;width: 100%;max-width: 100%;padding-right: 20px;padding-left: 20px;margin-top: 0px;}
@media (min-width: 768px) {.jlc-col-md {flex: 1 0 0%;}
	.jlc-col-md-auto {flex: 0 0 auto;width: auto;}
	.jlc-col-md-1 {flex: 0 0 auto;width: 8.33333333%;}
	.jlc-col-md-2 {flex: 0 0 auto;width: 16.66666667%;}
	.jlc-col-md-3 {flex: 0 0 auto;width: 25%;}
	.jlc-col-md-4 {flex: 0 0 auto;width: 33.33333333%;}
	.jlc-col-md-5 {flex: 0 0 auto;width: 41.66666667%;}
	.jlc-col-md-6 {flex: 0 0 auto;width: 50%;}
	.jlc-col-md-7 {flex: 0 0 auto;width: 58.33333333%;}
	.jlc-col-md-8 {flex: 0 0 auto;width: 66.66666667%;}
	.jlc-col-md-9 {flex: 0 0 auto;width: 75%;}
	.jlc-col-md-10 {flex: 0 0 auto;width: 83.33333333%;}
	.jlc-col-md-11 {flex: 0 0 auto;width: 91.66666667%;}
	.jlc-col-md-12 {flex: 0 0 auto;width: 100%;}}
@font-face {font-family: jl_font;src: url("fonts/jl_font.eot?3ra3lr");src: url("fonts/jl_font.eot?3ra3lr#iefix") format("embedded-opentype"),url("fonts/jl_font.ttf?3ra3lr") format("truetype"),url("fonts/jl_font.woff?3ra3lr") format("woff"),url("fonts/jl_font.svg?3ra3lr#jl_font") format("svg");font-weight: 400;font-style: normal;font-display: block;}
[class*=" jli-"], [class^=jli-] {font-family: jl_font !important;speak: never;font-style: normal;font-weight: 400;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.jli-tarrowa:before {content: "";}
.jli-playbtn:before {content: "";}
.jli-cart:before {content: "";}
.jli-line .path1:before {content: "";color: #3ace01;}
.jli-line .path2:before {content: "";margin-left: -1em;color: #fff;}
.jli-line .path3:before {content: "";margin-left: -1em;color: #3ace01;}
.jli-x:before {content: "";}
.jli-tarrow:before {content: "";}
.jli-timer:before {content: "";}
.jli-sun:before {content: "";}
.jli-share:before {content: "";}
.jli-search:before {content: "";}
.jli-moon:before {content: "";}
.jli-carrow:before {content: "";}
.jli-image:before {content: "";}
.jli-bell:before {content: "";}
.jli-shuffle:before {content: "";}
.jli-wechat:before {content: "";}
.jli-date:before {content: "";}
.jli-comment:before {content: "";}
.jli-close:before {content: "";}
.jli-check:before {content: "";}
.jli-dribble:before {content: "";}
.jli-pause:before {content: "";}
.jli-music:before {content: "";}
.jli-user:before {content: "";}
.jli-view:before {content: "";}
.jli-mail:before {content: "";}
.jli-instagram:before {content: "";}
.jli-linkedin:before {content: "";}
.jli-link:before {content: "";}
.jli-vimeo:before {content: "";}
.jli-whatsapp:before {content: "";}
.jli-globe:before {content: "";}
.jli-quote-right:before {content: "";}
.jli-quote:before {content: "";}
.jli-quote-alt-right:before {content: "";}
.jli-apple:before {content: "";}
.jli-book:before {content: "";}
.jli-down-chevron:before {content: "";}
.jli-left-chevron:before {content: "";}
.jli-love-full:before {content: "";}
.jli-plus:before {content: "";}
.jli-right-chevron:before {content: "";}
.jli-setting:before {content: "";}
.jli-spotify:before {content: "";}
.jli-star-full:before {content: "";}
.jli-star:before {content: "";}
.jli-tiktok:before {content: "";}
.jli-up-chevron:before {content: "";}
.jli-compress:before {content: "";}
.jli-crossroads:before {content: "";}
.jli-down-chevron-1:before {content: "";}
.jli-left-chevron-1:before {content: "";}
.jli-right-chevron-1:before {content: "";}
.jli-up-chevron-1:before {content: "";}
.jli-wordpress:before {content: "";}
.jli-xing:before {content: "";}
.jli-yahoo:before {content: "";}
.jli-yandex:before {content: "";}
.jli-youtube:before {content: "";}
.jli-zerply:before {content: "";}
.jli-ebay:before {content: "";}
.jli-evernote:before {content: "";}
.jli-facebook:before {content: "";}
.jli-flickr:before {content: "";}
.jli-forrst:before {content: "";}
.jli-foursquare:before {content: "";}
.jli-grooveshark:before {content: "";}
.jli-kickstarter:before {content: "";}
.jli-lastfm:before {content: "";}
.jli-livejournal:before {content: "";}
.jli-myspace:before {content: "";}
.jli-opera:before {content: "";}
.jli-paypal:before {content: "";}
.jli-picasa:before {content: "";}
.jli-pinterest:before {content: "";}
.jli-rss:before {content: "";}
.jli-sharethis:before {content: "";}
.jli-skype:before {content: "";}
.jli-soundcloud:before {content: "";}
.jli-stumbleupon:before {content: "";}
.jli-technorati:before {content: "";}
.jli-telegram:before {content: "";}
.jli-tumblr:before {content: "";}
.jli-twitter:before {content: "";}
.jli-viber:before {content: "";}
.jli-vk:before {content: "";}
.jli-wikipedia:before {content: "";}
.jli-bebo:before {content: "";}
.jli-behance:before {content: "";}
.jli-bing:before {content: "";}
.jli-blogger:before {content: "";}
.jli-delicious:before {content: "";}
.jli-deviantart:before {content: "";}
.jli-digg:before {content: "";}
.jli-dropbox:before {content: "";}
.jli-amazon:before {content: "";}